<div class="panels left-panel">
           
            <div class="avartar">
                
                <p style="color: rgb(178, 178, 178)"> logged in as</p>
                <h4 class="userType">Administrator</h4>
            
            </div>

            <a href="/adminDashboard" class="leftPanelBtn salesBtn"> <i style="justify-self: end;" class="fas fa-coins"></i> <h5 style="justify-self: start;">Sales</h5></a>
            <a href="/dailySales" class="leftPanelBtn dailySalebtn"><i style="justify-self: end;" class="fas fa-history"></i> <h5 style="justify-self: start;">Daily Sales</h5></a>
            <a href="/createAccount" class="leftPanelBtn createAccountBtn"><i style="justify-self: end;" class="fas fa-user-plus"></i></i> <h5 style="justify-self: start;">Create Account</h5></a>
            <a href="/manageInventory" class="leftPanelBtn manageInventoryBtn"><i style="justify-self: end;" class="fas fa-cart-arrow-down"></i></i> <h5 style="justify-self: start;">Manage Inventory</h5></a>
            <a href="/" class="leftPanelBtn logoutBtn"><i style="justify-self: end;" class="fas fa-sign-out-alt"></i> <h5 style="justify-self: start;">Logout</h5></a>
 </div>
     {{> messages}}

 
 <script>
            document.addEventListener('click', e =>{
                   if(e.target.classList.contains('logoutBtn')){
                    sessionStorage.clear()
                   }
               })

          //  document.addEventListener("click", e=> { 
            //    if(e.target.classList.contains("logoutBtn")){
                 
              //  }
           // })


            
</script>